a{
    text-decoration: none;
}

#wrapper {
    height: calc(100vh - 120px);
    background: url("/images/dashboard_home_cover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

#content_box{
    padding: 70px 75px;
    max-width: 482px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.text_1{
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
}

.primary_btn {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.primary_btn:hover,
.primary_btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.primary_btn:active{
    opacity: .5;
}